<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mutual Fund Analyzer Pro</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <nav class="navbar">
        <div class="nav-content">
            <div class="logo">
                <!-- <i class="fas fa-chart-line"></i> -->
                <span><img class="logo-icon" src="../static/logoNew.png" alt=""></span>
            </div>
        </div>
    </nav>

    <div class="error" id="error">
        <div class="circle"><i class="fa-solid fa-bomb"></i></div>
        <p id="errormsg">Fund does not exist for selected Investment Date</p>
      </div>

    <div class="container">
        <div class="dashboard">
            <div class="mfAnalysis">
                <h2><i class="fas fa-search"></i> Mutual Fund Analyzer Pro</h2>
            </div>
            <div class="input-card">
                <!-- <div class="input-form"> -->
                    <div class="form-group">
                        <label for="input-box">
                            <i class="fa-solid fa-magnifying-glass" id="btn"></i>Search Mutual Fund
                        </label>


                        <input type="search" name="search" id="input-box" placeholder="Search here ...." autocomplete="off" required/>

                    </div>
                    <!-- <div class="result-box"></div> -->


                <!-- </div> -->

                <div class="form-group">
                    <label for="fundCode">
                        <i class="fas fa-hashtag"></i> Mutual Fund Code
                    </label>
                    <input type="text" id="fundCode" placeholder="Fund code" required disabled/>
                </div>

                <div class="form-group">
                    <label for="startDate">
                        <i class="far fa-calendar-alt"></i> Investment Date
                    </label>
                    <input type="date" id="startDate" required />
                </div>

                <div class="form-group">
                    <label for="riskAppetite">
                        <i class="fas fa-chart-pie"></i> Risk Appetite
                    </label>
                    <select id="riskAppetite" required>
                        <option value="low">Conservative (Low Risk)</option>
                        <option value="medium" selected>Balanced (Medium Risk)</option>
                        <option value="high">Aggressive (High Risk)</option>
                    </select>
                </div>
                <div class=" btn-box">
                    <button onclick="analyzeFund()" class="analyze-btn">
                        <i class="fas fa-analytics"></i> Analyze Fund
                    </button>
                </div>
            </div>
            <div class="result-box"></div>
        </div>

        <div id="loader" class="loader-container hidden">
            <div class="loader"></div>
            <p>Analyzing fund data...</p>
        </div>

        <div id="results" class="results hidden">
            <div class="fund-header">
                <!-- <i class="fas fa-fund"></i> -->
                <h2 id="fundName"></h2>
            </div>

            <!-- historical chart shows -->
     <div class="historical-chart">
    
        <div class="chart-cards">
            <div class="chart-header">
                <h3><i class="fas fa-chart-area"></i> Nav Trend</h3>

                <div class="chart-actions-historical-price">
                    <div class="radio-group">
                        <input type="radio" id="7d" name="days" value="7">
                        <label for="7d" class="predictionDays">7d</label>
                
                        <input type="radio" id="15d" name="days" value="15">
                        <label for="15d" class="predictionDays">15d</label>
                
                        <input type="radio" id="30d" name="days" value="30">
                        <label for="30d" class="predictionDays">1M</label>
                        
                        <input type="radio" id="6m" name="days" value="180">
                        <label for="6m" class="predictionDays">6M</label>

                        <input type="radio" id="1y" name="days" value="365">
                        <label for="1y" class="predictionDays">1Y</label>

                        <!-- <input type="radio" id="5y" name="days" value="1825">
                        <label for="5y" class="predictionDays">5Y</label> -->

                        
                        <!-- <input type="radio" id="max" name="days" value="30">
                        <label for="max" class="predictionDays">Max</label> -->
                    </div>

                </div>
            </div>
            <div class="nav-chart-container">
                <!-- <canvas id="futurePredictChart"></canvas> -->
                <div id="navChart" class="widthFull"></div>
                 
            </div>
        </div>
    </div>





            <!-- <div class="fund-header">
                <i class="fas fa-fund"></i>
                <h2 id="fundName"></h2>
            </div> -->

            <div class="metrics-grid">
                <div class="metric-card">
                    <!-- <i class="fa-solid fa-circle-info"></i> -->
                    <div class="metric-icon">
                        <i class="fas fa-percentage"></i>
                    </div>
                    <div class="metric-content">
                        <h3>Absolute Returns <i id="info" class="fa-solid fa-circle-info"></i></h3>
                        <p id="absoluteReturns" class="metric-value"></p>
                    </div>
                </div>

                <div class="metric-card">
                    <div class="metric-icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="metric-content">
                        <h3>CAGR <i id="info" class="fa-solid fa-circle-info"></i></h3>
                        <p id="cagr" class="metric-value"></p>
                    </div>
                </div>

                <div class="metric-card">
                    <div class="metric-icon">
                        <i class="fas fa-balance-scale"></i>
                    </div>
                    <div class="metric-content">
                        <h3>Sharpe Ratio <i id="info" class="fa-solid fa-circle-info"></i></h3>
                        <p id="sharpeRatio" class="metric-value"></p>
                    </div>
                </div>
            </div>

            <div class="recommendation-card">
                <div class="recommendation-header">
                    <i class="fas fa-lightbulb"></i>
                    <h3>Investment Recommendation</h3>
                    <!-- <div class="recomendationTextContainer"> -->

                        <!-- </div> -->
                    </div>
                    <div class="recommendation-content">
                    <p id="recommendationText" class="recommendation-value"></p>
                    <p id="recommendationReason" class="recommendation-reason"></p>
                </div>
            </div>

            <div class="charts-grid">
                <div class="chart-card hidden">
                    <h3><i class="fas fa-chart-area"></i> NAV Trend</h3>
                    <div class="chart-container">
                        <img id="navPlot" alt="NAV Trend" />
                    </div>
                </div>

                <div class="chart-card">
                    <h3><i class="fas fa-chart-line"></i> Rolling Returns</h3>
                    <div class="chart-container">
                        <img id="returnsPlot" alt="Rolling Returns" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <footer class="footer" , align="center">
        <p>
            © 2025 FinE - Financial Empowerment for Everyone. All rights reserved.
        </p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>